body {
  margin: 0;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f2f5;
}
:root {
  --icon: #1877f2;
}
li {
  list-style: none;
  text-decoration: none;
}
a {
  text-decoration: none;
}

.all {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.part-a {
  display: flex;
  flex-direction: row;
  margin: 21vh 23vh;
}
.part-a .first {
  margin: 10px 5px 7px 5px;
  padding: 40px 25px;
  width: 100%;
}
.part-a .first h1 {
  font-size: 3.4rem;
  margin: 10px 5px;
  color: var(--icon);
}
.part-a .first h3 {
  font-size: 1.7rem;
  font-weight: 200;
  margin: 0;
  color: #1c1e21;
  width: 100%;
}

.all .part-a .sec {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 36px;
}
.all .part-a .sec form {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(253, 252, 252);
  padding: 10px;
  background-color: white;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 1px 3px 5px 5px rgb(224, 225, 236);
}
.all .part-a .sec form .fo {
  padding: 15px 20px;
  width: 330px;
  margin: 4px 0px;
  margin-bottom: 8px;
  font-size: 16px;
  border-radius: 5px;
  border-color: rgb(248, 248, 250);
  border: 1px solid rgb(231, 230, 230);
}
.all .part-a .sec form .btn {
  padding: 11px 20px;
  width: 373px;
  margin-top: 10px;
  background-color: var(--icon);
  color: white;
  font-size: 20px;
  font-weight: 700;
}
.all .part-a .sec form .next {
  width: 200px;
  margin: 25px 0 11px 89px;
  padding: 15px 10px;
  background-color: #42b72a;
  font-size: 16px;
}
.all .part-a .sec form a {
  font-size: 14px;
  padding: 10px 0 20px 0;
  margin: 1px 0;
  color: #1877f2;
  border-bottom: 1.9px solid rgb(214, 214, 214);
}
.all .part-a .sec h4 {
  font-size: 14px;
  font-weight: 100;
  margin: 30px;
}
.all .part-a .sec h4 span {
  font-weight: 600;
}
a {
  color: rgb(141, 140, 140);
}
.footer {
  background-color: white;
  color: rgb(148, 147, 147);
  padding: 20px 200px 0px 180px;
  font-size: 11.5px;
  font-family: Arial, Helvetica, sans-serif;
}
.footer .first ul {
  margin: 0px;
}
.footer .first li {
  padding: 0 5px;
  /* line-height: .1px; */
  /* border-bottom: 1px solid rgb(212, 211, 211); */
}
.hr {
  background-color: #ccd0d5;
  margin: 0 5px;
}
.footer .first .bt {
  border: 1px solid #ccd0d5;
  padding: 0 8px;
  font-size: 12px;
  margin: 0 10px;
  position: relative;
  line-height: 0.6rem;
}
.footer ul {
  display: flex;
  padding: 0;
}
.footer ul li {
  /* padding: 1px 10px;
  margin: 0; */
  line-height: 0.4rem;
}
.footer .sec li {
  padding: 1px 20px 0 0;
}
.footer .third li {
  padding: 1px 20px 0 0;
}
.footer .fourth li {
  padding: 1px 20px 0 0;
}
.footer .fifth li {
  margin: 20px 0 10px 0;
  padding: 0;
}


li:hover{
  text-decoration: underline;
  cursor: pointer;
}
.all .part-a .sec form .btn:hover{
  background-color: #1872e7;
  cursor: pointer;
}
.all .part-a .sec form .next:hover{
  background-color: #3faa29;
  cursor: pointer;
}
.all .part-a .sec h4 span:hover{
  text-decoration: underline;
  cursor: pointer;
}